.container-fluid {
  background-image: url(..\..\..\assets\images\cover_photo.jpg);
  background-position: 0px -130px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

@media screen and (max-width:768px) {
  .container-fluid {
    background-attachment: local;
    background-position: right;
  }
}

h1 {
  color: rgba(255, 255, 255, 0.604);
  font-size: 3rem;
}

p {
  color: rgba(255, 255, 255, 0.604);
}

.btn {
  border-radius: 20px;
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.741);
}
