<div class="container-fluid bg">
  <div class="container py-4">
    <h1> Update Page </h1>
    <hr>
    <form #f="ngForm" (ngSubmit)="update()" class="col-lg-8">
      <div class="row">
        <div class="col-lg-4">
          <label>*Host name</label>
          <input name="hostName" ngModel #hostInput="ngModel" required type="text" class="form-control mt-2"
            [ngModel]="singleProperty.hostName">
          <small *ngIf="hostInput.touched && hostInput.invalid" class="text-danger">* You must fill in this
            field</small>
        </div>
        <div class="col-lg-8">
          <label>*Description</label>
          <input name="appartmentDesc" ngModel #descInput="ngModel" required type="text" class="form-control mt-2"
            [ngModel]="singleProperty.appartmentDesc">
          <small *ngIf="descInput.touched && descInput.invalid" class="text-danger">* You must fill in this
            field</small>
        </div>

        <div class="col-lg-4 mt-3">
          <label>*Location</label>
          <input name="location" ngModel #locationInput="ngModel" required type="text" class="form-control mt-2"
            [ngModel]="singleProperty.location">
          <small *ngIf="locationInput.touched && locationInput.invalid" class="text-danger">* You must fill in this
            field</small>
        </div>
        <div class="col-lg-3 mt-3">
          <label>*Cost Per Night</label>
          <input name="perNight" ngModel #priceInput="ngModel" required minlength="1" type="number"
            class="form-control mt-2" [ngModel]="singleProperty.perNight">
          <small *ngIf="priceInput.touched && priceInput.invalid" class="text-danger">*You must fill in this
            field</small>
        </div>

        <div class="mt-3">
          <label>Image</label>
          <input name="img" ngModel #imgInput="ngModel" minlength="5" type="text" class="form-control mt-2"
            [ngModel]="singleProperty.img">
          <small *ngIf="imgInput.touched && imgInput.invalid" class="text-danger">*Please add an image</small>
        </div>

        <div class="mt-5 d-flex justify-content">
          <a routerLink="/apartments/ownproperties" class="btn btn-dark me-2">Cancel</a>
          <button class="btn btn-info text-white w-25 ms-5">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
