.dropdown-item {
  padding: 10px;
  color: white;
}

.dropdown-item.active {
  background-color: rgba(39, 192, 192, 0.515) !important;
}

.dropdown-item:hover {
  background-color: rgb(163, 161, 147);
  color: white !important;
}


button.active {
  color: rgb(87, 182, 182);
  font-weight: bold;
}

button {
  font-size: 1rem;
}

nav button {
  color: white;
  border-bottom: 2px solid white;
  width: 100vw;
  text-align: center;
}

.show {
  display: flex;
  flex-direction: column;
  justify-content: end !important;
}

/* .show li {
   margin-bottom: 10px;
 } */

nav::before {
  transition: all 2s ease-in-out;
}

nav {
  position: absolute;
  /* margin-top: 235px;  */
  /* margin-top: 280px;  */
  top: 78vh;
  width: 100vw;
  right: 0px;
  z-index: 150;
  /* transform: translateY(0%); */

}

.menuMobileNotLogged {
  position: absolute;
  top: 0vh;
}

.mat-toolbar-multiple-rows {
  justify-content:center;
}