<mat-toolbar class="bg-dark text-white">
  <mat-toolbar-row fxLayoutAlign="space-between center" style="height:8vh">
    <div fxLayout="row" fxLayoutAlign="center center">
      <button mat-button routerLink="/" fxLayoutAlign="center center">
        <img src="../../../assets/images/logo2.png" alt="" style="width:150px; border-radius: 10px;">
      </button>
    </div>
    <div fxLayoutAlign="center center">

      <!--    BURGER     -->

      <button fxHide.gt-xs mat-icon-button (click)="onToggleMobileMenu()">
        <mat-icon> menu</mat-icon>
      </button>

      <!--     DESKTOP MENU NOT LOGGED      -->

      <div fxHide.lt-sm fxLayout="row">
        <button *ngIf="!isLoggedIn" mat-button routerLink="/signup" routerLinkActive="active">Sign Up</button>
        <button *ngIf="!isLoggedIn" routerLink="/login" routerLinkActive="active" mat-button>Login</button>
        <div *ngIf="isLoggedIn">
          <span class="text-white w-25"> {{userName}}</span>

          <!--    DESKTOP MENU LOGGED IN + DROPDOWN MENU  DESKTOP -->

          <button mat-button [matMenuTriggerFor]="beforeMenu"><i class="fa fa-user-circle-o fs-3"
              aria-hidden="true"></i>
            <mat-icon>arrow_drop_down</mat-icon>
          </button>
          <mat-menu #beforeMenu="matMenu" xPosition="before" class="deskMenu bg-dark">
            <button ngbDropdownItem routerLink="/userinfo" routerLinkActive="active">Host Info</button>
            <button ngbDropdownItem routerLink="apartments/addProperty" routerLinkActive="active">New Property</button>
            <button ngbDropdownItem routerLink="apartments/ownproperties/" routerLinkActive="active">Your
              Properties</button>
          </mat-menu>
        </div>
        <button mat-button *ngIf="isLoggedIn" routerLinkActive="active" routerLink="/login" (click)="logout()"
          class="badge badge-warning btnLogout text-dark">Logout</button>
      </div>

      <!--   MOBILE NAV NOT LOGGED   -->


      <nav *ngIf="navCollapse !isLoggedIn" fxHide.gt-xs fxLayout="column" fxLayoutAlign="center" class="bg-dark">
        <div class="d-flex flex-column menuMobileNotLogged bg-dark">
          <button (click)="navCollapse=false" *ngIf="!isLoggedIn" routerLink="/login" routerLinkActive="active"
            mat-button>Login</button>
          <button (click)="navCollapse=false" *ngIf="!isLoggedIn" mat-button routerLink="/signup"
            routerLinkActive="active">Sign Up</button>
        </div>

      </nav>

      <!--   MOBILE NAV LOGGED IN  -->

      <nav fxLayout="row" *ngIf="navCollapse isLoggedIn" fxHide.gt-xs fxLayout="column" fxLayoutAlign="center center"
        class="bg-dark">
        <div *ngIf="isLoggedIn">
          <!-- <button mat-menu-item class="border-0" disabled> {{userName}}</button> -->
          <button routerLinkActive="active" (click)="logout()" class="bg-warning text-dark 
          border-0 outline-0">Logout</button>
          <button (click)="navCollapse=false" mat-menu-item routerLink="/userinfo" routerLinkActive="active">Host
            Info</button>
          <button (click)="navCollapse=false" mat-menu-item routerLink="apartments/addProperty"
            routerLinkActive="active">Add Property</button>
          <button (click)="navCollapse=false" mat-menu-item routerLink="apartments/ownproperties/"
            routerLinkActive="active">Your
            Properties</button>

        </div>
      </nav>

    </div>
  </mat-toolbar-row>
</mat-toolbar>